/* line 170, ../ */
a, .c-link {
  color: #DB128F;
}

/* line 22, ../ */
a:hover, a:active, a:focus, .c-link:hover, .c-link:active, .c-link:focus {
  color: #ee32a7;
}

/* line 172, ../ */
.c-button {
  background: linear-gradient(180deg, #DB128F 14.13%, #ff08a1 97.78%);
  border: 1px solid #c31080;
  color: white;
}

/* line 37, ../ */
.c-button:hover {
  background-image: linear-gradient(180deg, #ec1a9d 14.13%, #ff21ab 97.78%);
}

/* line 39, ../ */
.c-button:active, .c-button:active:hover, .c-button.active {
  background-image: linear-gradient(180deg, #ec1a9d 14.13%, #ff21ab 97.78%);
}

/* line 41, ../ */
.c-button[disabled], .c-button[disabled=disabled], .c-button[disabled=true], .c-button.c-button--loading, .c-button.c-button--disabled {
  background-image: linear-gradient(180deg, #DB128F 14.13%, #ff08a1 97.78%);
}

/* line 43, ../ */
.c-button.c-button--loading {
  background-image: url(""), linear-gradient(180deg, #DB128F 14.13%, #ff08a1 97.78%);
  background-size: auto 40%, auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 66, ../ */
.c-button:before {
  color: white;
}

/* line 68, ../ */
.c-button:hover, .c-button:active, .c-button:focus, .c-button:active:hover, .c-button.c-button--active {
  color: white;
}

/* line 179, ../ */
.index-deal_page_index__body--immunefi .u-colorThemeBrand {
  color: #DB128F;
}

/* line 181, ../ */
.index-deal_page_index__body--immunefi .u-backgroundThemeBrand {
  background-color: #DB128F;
}

/* line 194, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--white h1 {
  color: #DB128F;
}

/* line 197, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--black h1 {
  color: #DB128F;
}

/* line 156, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand {
  background: #DB128F;
}

/* line 201, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand h1 {
  color: white;
}

/* line 203, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand a, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-link {
  color: white;
}

/* line 22, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand a:hover, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand a:active, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand a:focus, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-link:hover, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-link:active, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-link:focus {
  color: white;
}

/* line 205, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button {
  background: linear-gradient(180deg, white 14.13%, white 97.78%);
  border: 1px solid #f2f2f2;
  color: black;
}

/* line 37, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button:hover {
  background-image: linear-gradient(180deg, white 14.13%, white 97.78%);
}

/* line 39, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button:active, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button:active:hover, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button.active {
  background-image: linear-gradient(180deg, white 14.13%, white 97.78%);
}

/* line 41, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button[disabled], .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button[disabled=disabled], .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button[disabled=true], .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button.c-button--loading, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button.c-button--disabled {
  background-image: linear-gradient(180deg, white 14.13%, white 97.78%);
}

/* line 43, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button.c-button--loading {
  background-image: url(""), linear-gradient(180deg, white 14.13%, white 97.78%);
  background-size: auto 40%, auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 60, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button:before {
  color: black;
}

/* line 62, ../ */
.offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button:hover, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button:active, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button:focus, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button:active:hover, .offerings-deal_page_sections-shared-section__deal_page_section_wrapper--brand .c-button.c-button--active {
  color: black;
}
